body.bg{
    background-image: url('../images/bg-01.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%
}

.full-height{
    height: 100vh;
}


.init {
	display: flex;
	align-items: center;
	justify-content: center;
	/*min-height: 100vh;*/
}

.menu-button{
	transition: fill 500ms;
}

.outer-circle {
	transform-origin: 60px 60px;
	transition: transform 3s cubic-bezier(0.620, 0.005, 0.000, 1.005);
}

.button {
	max-width: 12rem;
	background: none;
	border: 0;
	font-size: 0;
	cursor: pointer;
	outline: none !important;
    outline-style: none;

	
	
	
}
svg {
		width: 100%;
		height: auto;
	}

svg:hover .menu-button {
	fill: #0081c6;
}

svg:hover .outer-circle {
	transform: rotate(360deg);
}