<template>
  <div class="row justify-content-md-center">
    <div class="col-md-5 question-container" v-for="(value,key,index) in dataExample">
      <div :class="setAnswerState(value.goal)" >
        <p v-html="value.question_content" />
      </div>
      <div class="choices" :for="'question' + value.question">
        <div v-for="(value2,key2,index2) in value.answers">
          <input type="radio" :id="'answer' + value2.id_answer" :name="'question' + value.question">
          <label :for="'answer' + value2.id_answer">@{{value2.content}}</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dataExample: null,
    };
  },
  beforeMount() {
    this.getData().then((response) => {
      return this.dataExample=response.data;
    });
  },
  methods: {
    setAnswerState(value) {
      if (value === 0) {
        return 'question item-incorrect';
      }

      return 'question item-correct'
    },
    getData() {
      let data = axios.get('/test/1');

      return data;
    }
  } 
}
</script>