.stepwizard-step p {
    margin-top: 10px;
  }

  video {
    width: 30%;
    border-radius: 5px;
    border: 1px solid black;
  }

  .stepwizard-row {
    display: table-row;
  }

  .stepwizard {
    display: table;
    width: 100%;
    position: relative;
  }

  .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }

  .stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    /* background-color: #ccc; */
    z-order: 0;
  }

  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
  }

  .btn-circular {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

  .step-container {
    width: "100%";
    height: "100%"
  }

  .step {
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2em;
    position: relative;
  }

  .step::before,
  .step::after {
    content: '';
    position: absolute;
    top: 0.75em;
    bottom: 0.75em;
    left: 0;
    right: 0;
    background: #ccc;
  }

  .step::after {
    background: #458be3;
    transition: right 0.5s;
  }

  .step[data-step="0"]::after {
    right: 100%;
  }

  .step[data-step="1"]::after {
    right: 90%;
  }

  .step[data-step="2"]::after {
    right: 82%;
  }

  .step[data-step="3"]::after {
    right: 71%;
  }

  .step[data-step="4"]::after {
    right: 60%;
  }

  .step[data-step="5"]::after {
    right: 50%;
  }

  .step[data-step="6"]::after {
    right: 40%;
  }

  .step[data-step="7"]::after {
    right: 30%;
  }

  .step[data-step="8"]::after {
    right: 20%;
  }

  .step[data-step="9"]::after {
    right: 10%;
  }

  .step[data-step="10"]::after {
    right: 0%;
  }

  /* input {
    display: none;
  } */

  .step p {
    counter-increment: step;
    color: #aaa;
    height: 2em;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin: 0;
  }

  .step p:first-of-type {
    background: linear-gradient(to right, #eee 50%, transparent 100%);
  }

  .step p:last-of-type {
    background: linear-gradient(to right, transparent 50%, #eee 100%);
  }

  .step p::before {
    content: counter(step);
    display: flex;
    margin: 0 auto 0.5em;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    background: #ccc;
  }

  .forward .step p::before {
    transition: background 0 0.5s, color 0 0.5s;
  }

  [data-step="0"] p:nth-child(1),
  [data-step="1"] p:nth-child(2),
  [data-step="2"] p:nth-child(3),
  [data-step="3"] p:nth-child(4),
  [data-step="4"] p:nth-child(5),
  [data-step="5"] p:nth-child(6),
  [data-step="6"] p:nth-child(7),
  [data-step="7"] p:nth-child(8),
  [data-step="8"] p:nth-child(9),
  [data-step="9"] p:nth-child(10),
  [data-step="10"] p:nth-child(11) {
    color: black;
  }

  [data-step="1"] p:nth-child(1)::before,
  [data-step="2"] p:nth-child(1)::before,
  [data-step="2"] p:nth-child(2)::before,
  [data-step="3"] p:nth-child(1)::before,
  [data-step="3"] p:nth-child(2)::before,
  [data-step="3"] p:nth-child(3)::before,
  [data-step="4"] p:nth-child(1)::before,
  [data-step="4"] p:nth-child(2)::before,
  [data-step="4"] p:nth-child(3)::before,
  [data-step="4"] p:nth-child(4)::before,
  [data-step="5"] p:nth-child(1)::before,
  [data-step="5"] p:nth-child(2)::before,
  [data-step="5"] p:nth-child(3)::before,
  [data-step="5"] p:nth-child(4)::before,
  [data-step="5"] p:nth-child(5)::before,
  [data-step="6"] p:nth-child(1)::before,
  [data-step="6"] p:nth-child(2)::before,
  [data-step="6"] p:nth-child(3)::before,
  [data-step="6"] p:nth-child(4)::before,
  [data-step="6"] p:nth-child(5)::before,
  [data-step="6"] p:nth-child(6)::before,
  [data-step="7"] p:nth-child(1)::before,
  [data-step="7"] p:nth-child(2)::before,
  [data-step="7"] p:nth-child(3)::before,
  [data-step="7"] p:nth-child(4)::before,
  [data-step="7"] p:nth-child(5)::before,
  [data-step="7"] p:nth-child(6)::before,
  [data-step="7"] p:nth-child(7)::before,
  [data-step="8"] p:nth-child(1)::before,
  [data-step="8"] p:nth-child(2)::before,
  [data-step="8"] p:nth-child(3)::before,
  [data-step="8"] p:nth-child(4)::before,
  [data-step="8"] p:nth-child(5)::before,
  [data-step="8"] p:nth-child(6)::before,
  [data-step="8"] p:nth-child(7)::before,
  [data-step="8"] p:nth-child(8)::before,
  [data-step="9"] p:nth-child(1)::before,
  [data-step="9"] p:nth-child(2)::before,
  [data-step="9"] p:nth-child(3)::before,
  [data-step="9"] p:nth-child(4)::before,
  [data-step="9"] p:nth-child(5)::before,
  [data-step="9"] p:nth-child(6)::before,
  [data-step="9"] p:nth-child(7)::before,
  [data-step="9"] p:nth-child(8)::before,
  [data-step="9"] p:nth-child(9)::before,
  [data-step="10"] p:nth-child(1)::before,
  [data-step="10"] p:nth-child(2)::before,
  [data-step="10"] p:nth-child(3)::before,
  [data-step="10"] p:nth-child(4)::before,
  [data-step="10"] p:nth-child(5)::before,
  [data-step="10"] p:nth-child(6)::before,
  [data-step="10"] p:nth-child(7)::before,
  [data-step="10"] p:nth-child(8)::before,
  [data-step="10"] p:nth-child(9)::before,
  [data-step="10"] p:nth-child(10)::before,
  [data-step="11"] p:nth-child(1)::before,
  [data-step="11"] p:nth-child(2)::before,
  [data-step="11"] p:nth-child(3)::before,
  [data-step="11"] p:nth-child(4)::before,
  [data-step="11"] p:nth-child(5)::before,
  [data-step="11"] p:nth-child(6)::before,
  [data-step="11"] p:nth-child(7)::before,
  [data-step="11"] p:nth-child(8)::before,
  [data-step="11"] p:nth-child(9)::before,
  [data-step="11"] p:nth-child(10)::before,
  [data-step="11"] p:nth-child(11)::before {
    content: '✔︎';
  }

  [data-step="0"] p:nth-child(1)::before,
  [data-step="1"] p:nth-child(2)::before,
  [data-step="2"] p:nth-child(3)::before,
  [data-step="3"] p:nth-child(4)::before,
  [data-step="4"] p:nth-child(5)::before,
  [data-step="5"] p:nth-child(6)::before,
  [data-step="6"] p:nth-child(7)::before,
  [data-step="7"] p:nth-child(8)::before,
  [data-step="8"] p:nth-child(9)::before,
  [data-step="9"] p:nth-child(10)::before,
  [data-step="10"] p:nth-child(11)::before,
  [data-step="1"] p:nth-child(1)::before,
  [data-step="2"] p:nth-child(1)::before,
  [data-step="2"] p:nth-child(2)::before,
  [data-step="3"] p:nth-child(1)::before,
  [data-step="3"] p:nth-child(2)::before,
  [data-step="3"] p:nth-child(3)::before,
  [data-step="4"] p:nth-child(1)::before,
  [data-step="4"] p:nth-child(2)::before,
  [data-step="4"] p:nth-child(3)::before,
  [data-step="4"] p:nth-child(4)::before,
  [data-step="5"] p:nth-child(1)::before,
  [data-step="5"] p:nth-child(2)::before,
  [data-step="5"] p:nth-child(3)::before,
  [data-step="5"] p:nth-child(4)::before,
  [data-step="5"] p:nth-child(5)::before,
  [data-step="6"] p:nth-child(1)::before,
  [data-step="6"] p:nth-child(2)::before,
  [data-step="6"] p:nth-child(3)::before,
  [data-step="6"] p:nth-child(4)::before,
  [data-step="6"] p:nth-child(5)::before,
  [data-step="6"] p:nth-child(6)::before,
  [data-step="7"] p:nth-child(1)::before,
  [data-step="7"] p:nth-child(2)::before,
  [data-step="7"] p:nth-child(3)::before,
  [data-step="7"] p:nth-child(4)::before,
  [data-step="7"] p:nth-child(5)::before,
  [data-step="7"] p:nth-child(6)::before,
  [data-step="7"] p:nth-child(7)::before,
  [data-step="8"] p:nth-child(1)::before,
  [data-step="8"] p:nth-child(2)::before,
  [data-step="8"] p:nth-child(3)::before,
  [data-step="8"] p:nth-child(4)::before,
  [data-step="8"] p:nth-child(5)::before,
  [data-step="8"] p:nth-child(6)::before,
  [data-step="8"] p:nth-child(7)::before,
  [data-step="8"] p:nth-child(8)::before,
  [data-step="9"] p:nth-child(1)::before,
  [data-step="9"] p:nth-child(2)::before,
  [data-step="9"] p:nth-child(3)::before,
  [data-step="9"] p:nth-child(4)::before,
  [data-step="9"] p:nth-child(5)::before,
  [data-step="9"] p:nth-child(6)::before,
  [data-step="9"] p:nth-child(7)::before,
  [data-step="9"] p:nth-child(8)::before,
  [data-step="9"] p:nth-child(9)::before,
  [data-step="10"] p:nth-child(1)::before,
  [data-step="10"] p:nth-child(2)::before,
  [data-step="10"] p:nth-child(3)::before,
  [data-step="10"] p:nth-child(4)::before,
  [data-step="10"] p:nth-child(5)::before,
  [data-step="10"] p:nth-child(6)::before,
  [data-step="10"] p:nth-child(7)::before,
  [data-step="10"] p:nth-child(8)::before,
  [data-step="10"] p:nth-child(9)::before,
  [data-step="10"] p:nth-child(10)::before {
    background: #458be3;
    color: white;
  }

  a {
    color: #458be3;
  }

  h1 {
    text-align: center;
    font-weight: 100;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .list {
    padding-left: 1rem;
    text-indent: -0.7rem;
    padding-top: 0.5rem;
  }

  .list::before {
    content: "• ";
    color: #458be3;
  }

  aside {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile+label {
    height: 5vh;
    width: 15vw;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: white;
    display: inline-block; width: 100%;
    box-shadow: 0 0 0 1px #078FE8;
  }

  .inputfile:focus+label,
  .inputfile+label:hover {
    background-color: #078FE8;
    color: white;
  }

  .inputfile+label {
    cursor: pointer;
    /* "hand" cursor */
  }

  .not {
    pointer-events: none;
  }
  .title-process{
  	padding-bottom: 5%;
  	font-style: bold;
  }
  .pull-right{

  }
  @media (min-width: 992px) {
  	.row .no-float {
    	  display: table-cell;
    	  float: none;
  	}
	}
	.footer-buttons{
		position: absolute;
		top: 100%;
		bottom: 0%; 
	}
