.slider {
  overflow: hidden;
}
.slides {
  display: flex;
  overflow: hidden;
  width: 100%
  
}
.slides::-webkit-scrollbar {
  visibility: hidden;
  display: none;
}
.slides > .slide-container {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  display: flex;
}
.btn-circle {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.item-controls {
  z-index: 90;
  margin-bottom:0;
}
.footer-btn {
  background-color: #411934; 
  color: white
}
.footer-btn:hover {
  color: white
}
.previous-item-btn {
  float: left; 
}
.next-item-btn {
  float: right;
}